<h1>New 2 Town</h1>
<h4>What are you looking for?</h4>
<%= form_for(:spots, url: spots_path, method: "get") do |request| %>
	<%= request.text_field :term %>
	<%= request.text_field :zip %>
	<%= request.submit "Find"%>
<%end%>
