<div id ="home_page">

			<h1 id= "N2T">New 2 Town</h1>
			<h5>What are you looking for?</h5>
			<%= form_for(:spots, url: spots_path, method: "get") do |request| %>
				
				<%= request.select :term, options_for_select(@categories.map {|category| category})%>
				
				<%= request.text_field :zip, class: "zip", placeholder: "Zip Code" %>
				<%= request.submit "Find", class: "find" %>
			<%end%>
		</div>
	</div>
</div>